body {
  background-color: aquamarine;
  padding: 0;
}

<<<<<<< HEAD
navPosition {
  display: flex;
  list-style-type: none;
}

nav {
  height: 10vh;
  background-color: black;
}

footer {
  height: 25vh;
  background-color: black;
}

main {
  height: 65vh;
}
=======
navPosition{
    display: flex;

    
}
>>>>>>> 6fa11e7d8dc3190f7d99b2dba3fa1b3eea1a4989
